{{!-- waterfall header --}}
{{#mdl-layout class="demo-layout"}}
  {{#mdl-layout-header isWaterfall=true}}
    {{#mdl-layout-header-row}}
      <!-- Title -->
      {{#mdl-layout-title}}Title{{/mdl-layout-title}}
      <!-- Add spacer, to align navigation to the right -->
      {{mdl-layout-spacer}}
      <!-- expandable -->
      {{mdl-textfield "search" isExpandable=true isAlignRight=true}}
    {{/mdl-layout-header-row}}

    {{#mdl-layout-header-row}}
      {{mdl-layout-spacer}}
      <!-- Navigation -->
      {{#mdl-navigation}}
        {{mdl-navigation-link "Link" "index"}}
        {{mdl-navigation-link "Link" "index"}}
        {{mdl-navigation-link "Link" "index"}}
      {{/mdl-navigation}}
    {{/mdl-layout-header-row}}
  {{/mdl-layout-header}}

  {{#mdl-layout-drawer}}
    {{#mdl-layout-title}}Title{{/mdl-layout-title}}
    {{#mdl-navigation}}
      {{mdl-navigation-link "Link" "index"}}
      {{mdl-navigation-link "Link" "index"}}
      {{mdl-navigation-link "Link" "index"}}
    {{/mdl-navigation}}
  {{/mdl-layout-drawer}}

  {{#mdl-layout-content}}
     <div class="content-container scroll"></div>
  {{/mdl-layout-content}}
{{/mdl-layout}}
