<h2>Buttons</h2>

<div class="demo-group">
  <h5 class="demo-group__title">Colored FAB</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{#mdl-button isColored=true isFab=true}}
        {{md-icon "add"}}
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isColored=true isFab=true isRipple=true}}
        {{md-icon "add"}}
      {{/mdl-button}}
    </div>
  </div>

  <div class="demo-group__snippet">
    {{code-snippet name="colored-fab.hbs"}}
    {{code-snippet name="colored-fab-with-ripple.hbs"}}
  </div>
</div>


<div class="demo-group">
  <h5 class="demo-group__title">Plain FAB</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{#mdl-button isFab=true}}
        {{md-icon "add"}}
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isFab=true isRipple=true}}
        {{md-icon "add"}}
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isFab=true isDisabled=true}}
        {{md-icon "add"}}
      {{/mdl-button}}
    </div>
  </div>

  <div class="demo-group__snippet">
    {{code-snippet name="plain-fab.hbs"}}
    {{code-snippet name="plain-fab-with-ripple.hbs"}}
    {{code-snippet name="disabled-plain-fab.hbs"}}
  </div>
</div>

<div class="demo-group">
  <h5 class="demo-group__title">Raised</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{#mdl-button isRaised=true}}
        Button
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isRaised=true isRipple=true}}
        Button
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isRaised=true isDisabled=true}}
        Button
      {{/mdl-button}}
    </div>
  </div>

  <div class="demo-group__snippet">
    {{code-snippet name="raised.hbs"}}
    {{code-snippet name="raised-with-ripple.hbs"}}
    {{code-snippet name="disabled-raised.hbs"}}
  </div>
</div>

<div class="demo-group">
  <h5 class="demo-group__title">Colored Raised</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{#mdl-button isColored=true isRaised=true}}
        Button
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isAccent=true isRaised=true}}
        Button
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isAccent=true isRaised=true isRipple=true}}
        Button
      {{/mdl-button}}
    </div>
  </div>

  <div class="demo-group__snippet">
    {{code-snippet name="colored-raised.hbs"}}
    {{code-snippet name="accent-colored-raised.hbs"}}
    {{code-snippet name="accent-colored-raised-with-ripple.hbs"}}
  </div>
</div>


<div class="demo-group">
  <h5 class="demo-group__title">Flat</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{#mdl-button}}
        Button
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isRipple=true}}
        Button
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isDisabled=true}}
        Button
      {{/mdl-button}}
    </div>
  </div>

  <div class="demo-group__snippet">
    {{code-snippet name="flat.hbs"}}
    {{code-snippet name="flat-with-ripple.hbs"}}
    {{code-snippet name="disabled-flat.hbs"}}
  </div>
</div>

<div class="demo-group">
  <h5 class="demo-group__title">Colored Flat</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{#mdl-button isColored=true}}
        Button
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isAccent=true}}
        Button
      {{/mdl-button}}
    </div>
  </div>

  <div class="demo-group__snippet">
    {{code-snippet name="primary-colored-flat.hbs"}}
    {{code-snippet name="accent-colored-flat.hbs"}}
  </div>
</div>

<div class="demo-group">
  <h5 class="demo-group__title">Icon</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{#mdl-button isIcon=true}}
        {{md-icon "mood"}}
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isIcon=true isColored=true}}
        {{md-icon "mood"}}
      {{/mdl-button}}
    </div>
  </div>

  <div class="demo-group__snippet">
    {{code-snippet name="icon.hbs"}}
    {{code-snippet name="colored-icon.hbs"}}
  </div>
</div>

<div class="demo-group">
  <h5 class="demo-group__title">Mini FAB</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{#mdl-button isFabMini=true}}
        {{md-icon "add"}}
      {{/mdl-button}}
    </div>

    <div class="demo-group__component">
      {{#mdl-button isFabMini=true isColored=true}}
        {{md-icon "add"}}
      {{/mdl-button}}
    </div>
  </div>

  <div class="demo-group__snippet">
    {{code-snippet name="mini-fab.hbs"}}
    {{code-snippet name="colored-mini-fab.hbs"}}
  </div>
</div>
