<h2>Toggles</h2>

<div class="demo-group">
  <h5 class="demo-group__title">Checkbox</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{mdl-checkbox "Apple" isChecked=(or fruits.apple) update=(action "checkboxAction" "apple")}}
    </div>

    <div class="demo-group__component">
      {{mdl-checkbox "Banana" isChecked=(or fruits.banana) update=(action "checkboxAction" "banana")}}
    </div>

    <div class="demo-group__component">
      {{#mdl-checkbox isDisabled=true}}Citrus{{/mdl-checkbox}}
    </div>
  </div>

  <div class="demo-group__snippet">
    <pre class="hljs mdl-color--yellow-100 mdl-color-text--primary" style="padding:10px">{{checkboxResult}}</pre>
    {{code-snippet name="checkbox.hbs"}}
  </div>
</div>

<div class="demo-group">
  <h5 class="demo-group__title">Radio</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{mdl-radio "First" name="foo" value="first" groupValue=foo update=(action "radioAction")}}
    </div>

    <div class="demo-group__component">
      {{mdl-radio "Second" name="foo" value="second" groupValue=foo update=(action "radioAction")}}
    </div>

    <div class="demo-group__component">
      {{#mdl-radio name="foo" value="third" isDisabled=true}}
        Disabled
      {{/mdl-radio}}
    </div>
  </div>

  <div class="demo-group__snippet">
    <pre class="hljs mdl-color--yellow-100 mdl-color-text--primary" style="padding:10px">{{radioResult}}</pre>
    {{code-snippet name="radio.hbs"}}
  </div>
</div>

<div class="demo-group">
  <h5 class="demo-group__title">Icon Toggle</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{mdl-icon-toggle "format_bold" isChecked=true update=(action "toggleAction" "bold")}}
    </div>

    <div class="demo-group__component">
      {{#mdl-icon-toggle update=(action "toggleAction" "italic")}}format_italic{{/mdl-icon-toggle}}
    </div>
  </div>

  <div class="demo-group__snippet">
    <pre class="hljs mdl-color--yellow-100 mdl-color-text--primary" style="padding:10px">{{toggleResult}}</pre>
    {{code-snippet name="icon-toggle.hbs"}}
  </div>
</div>

<div class="demo-group">
  <h5 class="demo-group__title">Switch</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{mdl-switch isChecked=switches.first update=(action "switchAction" "first")}}
    </div>

    <div class="demo-group__component">
      {{mdl-switch isChecked=switches.second update=(action "switchAction" "second")}}
    </div>

    <div class="demo-group__component">
      {{mdl-switch isDisabled=true}}
    </div>
  </div>

  <div class="demo-group__snippet">
    <pre class="hljs mdl-color--yellow-100 mdl-color-text--primary" style="padding:10px">{{switchResult}}</pre>
    {{code-snippet name="switch.hbs"}}
  </div>
</div>