{{#if isExpandable}}
  {{#mdl-button tagName="label" isIcon=true for=_textfieldId}}
    {{md-icon _label}}
  {{/mdl-button}}

  <div class="mdl-textfield__expandable-holder">
    {{mdl-textfield-input value=__p.value id=_textfieldId isDisabled=isDisabled update=(action "update")}}
    <label class="mdl-textfield__label" for={{_textfieldId}}>{{_label}}</label>
  </div>
{{else}}
  <label class="mdl-textfield__label" for={{_textfieldId}}>{{_label}}</label>

  {{#unless hasBlock}}
    {{mdl-textfield-input type=_textFieldType value=__p.value pattern=_pattern id=_textfieldId isDisabled=isDisabled update=(action "update")}}
  {{else}}
    {{yield}}
  {{/unless}}
{{/if}}

<span class="mdl-textfield__error">{{_errorText}} </span>