{{#mdl-layout hasFixedDrawer=true}}

  {{#mdl-layout-header isScroll=true isSeamed=true}}
    {{mdl-layout-icon}}
    {{#mdl-layout-header-row}}
      <h3>ember-cli-material-lite</h3>
    {{/mdl-layout-header-row}}
  {{/mdl-layout-header}}

  {{#mdl-layout-drawer}}
    {{#mdl-navigation}}
      {{mdl-navigation-link "Home" "index"}}
      {{mdl-navigation-link "Buttons" "components.buttons"}}
      {{mdl-navigation-link "Loading" "components.loading"}}
      {{mdl-navigation-link "Menus" "components.menus"}}
    {{/mdl-navigation}}
  {{/mdl-layout-drawer}}

  {{#mdl-layout-content}}
    <div class="content-container">
    {{outlet}}
    </div>
  {{/mdl-layout-content}}

{{/mdl-layout}}