{{#mdl-layout hasFixedDrawer=true}}

  {{#mdl-layout-header isScroll=true isSeamed=true class="mdl-color--blue-grey-500"}}
    {{#mdl-layout-header-row}}
      <h3>ember-cli-material-lite</h3>
    {{/mdl-layout-header-row}}
  {{/mdl-layout-header}}

  {{#mdl-layout-drawer}}
    {{#mdl-navigation}}
      {{mdl-navigation-link "Home" "index"}}
      {{mdl-navigation-link "Badges" "components.badges"}}
      {{mdl-navigation-link "Buttons" "components.buttons"}}
      {{mdl-navigation-link "Chips" "components.chips"}}
      {{mdl-navigation-link "Loading" "components.loading"}}
      {{mdl-navigation-link "Layout" "components.layout"}}
      {{mdl-navigation-link "Menus" "components.menus"}}
      {{mdl-navigation-link "Slider" "components.slider"}}
      {{mdl-navigation-link "Snackbar" "components.snackbar"}}
      {{mdl-navigation-link "Text Fields" "components.text-fields"}}
      {{mdl-navigation-link "Toggles" "components.toggles"}}
      {{mdl-navigation-link "Tooltip" "components.tooltip"}}
    {{/mdl-navigation}}
  {{/mdl-layout-drawer}}

  {{#mdl-layout-content}}
    <div class="content-container">
    {{outlet}}
    </div>
  {{/mdl-layout-content}}

{{/mdl-layout}}
